.fotos-productos {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: content;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
}

.bordes{
    border-style: solid;
    color: beige;
}

