.horario-mapa{
   
    display: flex;
    justify-content: center;
    margin: 50px;
    color: beige;
        
    
}

.historia {
    text-align: center;
    font-size: x-large;
    font-family: initial;
    line-height: 150%;
   
}
.historia p {
    color: beige;
}


.espacio1 {
    padding-right: 15px;
    padding-left: 30px;
}

.espacio2 {
    padding-right: 30px;
    padding-left: 15px;
    }

th {
    color: aqua;
    padding-top:10px ;
    padding-bottom: 10px;
}



